<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/svgs/icon.svg" type="image/x-icon">
  <title>Breeds</title>
</head>

<body>
  <%- include('../general/navBar') %>
    <main class="flex flex-col gap-8">
      <h1 class="title">Breeds</h1>
      <ul class="grid grid-cols-[repeat(auto-fit,calc(224px+4rem))] justify-center gap-4">
        <% breedList.forEach((breed)=> { %>
          <li class="flex flex-col p-8">
            <a class="round-link lg:self-center sm:size-48" href=" <%=breed.url %>">
              <img class="round-img" src="<%-breed.img_ur %>" alt="Picture of a <%= breed.name %>">
            </a>
            <span class="self-center text-lg mt-6 sm:text-base">
              <%= breed.name %>
            </span>
          </li>
          <% }); %>
      </ul>
      <a class="button border-green-700 text-green-700 hover:bg-green-700 sm:text-base"
        href="/inventory/breed/create">Create
        Breed</a>
    </main>
    <%- include('../general/addendum') %>
</body>

</html>