<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/svgs/icon.svg" type="image/x-icon">
  <title>Delete Breed</title>
</head>

<body>
  <%- include('../general/navBar') %>
    <main class="flex flex-col gap-8">
      <h1 class="font-bold text-4xl">
        Delete <%= breed.name %>?
      </h1>
      <p class="text-xl">
        <%- breed.description %>
      </p>
      <ul class="flex flex-col gap-4 text-lg">
        <li>
          Size: <%= breed.size.name %>
        </li>
        <li>
          Life Expectancy: <%= breed.life_expectancy %> years
        </li>
      </ul>
      <% if(breedDogs.length> 0){ %>
        <h2 class="font-bold text-2xl">This will also delete all these beautiful dogs:</h2>
        <ul class="flex flex-col gap-4 text-lg">
          <% breedDogs.forEach((dog)=> { %>
            <li>
              <a href="<%=dog.url%>">
                <%= dog.name %>
              </a>
            </li>
            <% }); %>
        </ul>
        <% } %>
          <form method="post" class="flex flex-col gap-8">
            <input name="breedID" id="breedID" type="hidden" value=<%=breed._id%>>
            <label class="form-item">
              <span class="font-bold">Password <span class="text-sm text-gray-500">*required</span></span>
              <input required name="password" id="password" type="text" placeholder="Secret password"
                class="form-input">
            </label>
            <% if(errors){ %>
              <p class="font-bold text-lg text-red-700">
                <%= errors[0].msg %>
              </p>
              <% } %>
                <button type="submit" class="button border-red-700 text-red-700 hover:bg-red-700">Delete</button>
          </form>
    </main>
    <%- include('../general/addendum') %>
</body>

</html>