<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>
    <%= breed.name %>
  </title>
</head>

<body class="flex flex-col min-h-screen">
  <%- include('../general/navBar') %>
    <main class="flex-1 flex flex-col gap-8 px-16 py-8">
      <img class="self-center size-96 rounded-full shadow-blurry " src="<%= breed.img_ur %>"
        alt="Picture of <%= breed.name %>">
      <h1 class="text-4xl font-bold">
        <%- breed.name %>
      </h1>
      <p class="text-xl">
        <%- breed.description %>
      </p>
      <ul class="flex flex-col gap-4 text-lg">
        <li>
          Size: <%= breed.size.name %>
        </li>
        <li>
          Life Expectancy: <%= breed.life_expectancy %> years
        </li>
      </ul>
      <h2 class="text-2xl font-bold">Dogs</h2>
      <ul class="grid grid-cols-[repeat(auto-fit,calc(224px+4rem))] justify-center gap-4">
        <% breedDogs.forEach((dog)=> { %>
          <li class="flex flex-col p-8">
            <a class="round-link" href="<%= dog.url %>">
              <img class="round-img" src="<%= dog.img_ur %>" alt="Picture of <%= dog.name %>">
            </a>
            <span class="self-center text-lg mt-6">
              <%= dog.name %>
            </span>
          </li>
          <% }); %>
      </ul>
      <div id="buttons" class="flex justify-center gap-20">
        <a class="button border-blue-700  text-blue-700 hover:bg-blue-700" href=<%=`${breed.url}/update`%> >Update
          Breed</a>
        <a class="button border-red-700 text-red-700 hover:bg-red-700" href=<%=`${breed.url}/delete`%>
          >Delete Breed</a>
      </div>
    </main>
    <%- include('../general/addendum') %>
</body>

</html>