<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/svgs/icon.svg" type="image/x-icon">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('../general/navBar') %>
    <main>
      <h1 class="text-4xl font-bold">
        <%= title %>
      </h1>
      <form method="post" enctype="multipart/form-data" class="flex flex-col gap-4 mt-8">
        <label class="form-item">
          <span class="font-bold">Name <span class="text-sm text-gray-500">*required</span></span>
          <input required name="name" id="name" type="text" placeholder="Name of breed" value="<%= breed ? breed.name : ''
            %>" class="form-input">
        </label>
        <label class="form-item">
          <span class="font-bold">Description <span class="text-sm text-gray-500">*required</span></span>
          <textarea required name="description" id="description" rows="4" placeholder="Description of the breed"
            class="form-input"><%- breed ? breed.description : '' %></textarea>
        </label>
        <label class="form-item">
          <span class="font-bold">Size <span class="text-sm text-gray-500">*required</span></span>
          <select name="size" id="size" required class="form-input">
            <option value="">--Select a size--</option>
            <% sizes.forEach((size)=> { %>
              <% if(breed) { %>
                <% if(breed.size._id.toString()===size._id.toString()) { %>
                  <option value="<%=size._id %>" selected>
                    <%= size.name %>
                  </option>
                  <% } else { %>
                    <option value="<%=size._id %>">
                      <%= size.name %>
                    </option>
                    <% } %>
                      <% } else { %>
                        <option value="<%=size._id %>">
                          <%= size.name %>
                        </option>
                        <% } %>
                          <% }) %>
          </select>
        </label>
        <label class="form-item">
          <span class="font-bold">Life Expectancy (years) <span class="text-sm text-gray-500">*required</span></span>
          <input required name="lifeExpectancy" id="lifeExpectancy" type="number" placeholder="Life expectancy of breed"
            value="<%=breed ? breed.life_expectancy : '' %>" class="form-input">
        </label>
        <label class="form-item">
          <span class="font-bold">Image</span>
          <input name="img" id="img" type="file" accept="image/*"
            class=" border-dashed border-2 border-gray-500 py-4 px-2">
        </label>
        <label class="form-item">
          <span class="font-bold">Password <span class="text-sm text-gray-500">*required</span></span>
          <input required name="password" id="password" type="text" placeholder="Secret password" class="form-input">
        </label>
        <% if(errors){ %>
          <ul>
            <% errors.forEach((error)=> { %>
              <li class="font-bold text-lg text-red-700">
                <%= error.msg %>
              </li>
              <% }) %>
          </ul>
          <% } %>
            <button class="button border-black hover:bg-black mt-8" type="submit">Submit</button>
      </form>
    </main>
    <%- include('../general/addendum') %>
</body>

</html>