<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Catadog</title>
</head>

<body class="flex flex-col min-h-screen">
  <%- include('general/navBar') %>
    <main class="flex-1 px-16 py-8">
      <h1 class="text-4xl font-bold">Welcome to Catadog</h1>
      <p class="text-center text-2xl my-16">Catadog is an inventory application for a local dog adoption center</p>
      <ul>
        <li class="mb-16">
          <p class="text-xl font-bold">We&apos;ve got <%= sizes.length %> sizes:</p>
          <ul class="flex justify-evenly">
            <li class="flex flex-col justify-end">
              <a href="<%=sizes[0].url%>">
                <img class="size-16" src="/images/svg/dog-house.svg" alt="">
                <p class="text-lg text-center mt-6">
                  <%= sizes[0].name %>
                </p>
              </a>
            </li>
            <li class="flex flex-col items-center justify-end">
              <a href="<%=sizes[1].url%>">
                <img class="size-32" src="/images/svg/dog-house.svg" alt="">
                <p class="text-xl text-center mt-6">
                  <%= sizes[1].name %>
                </p>
              </a>
            </li>
            <li class="flex flex-col items-center justify-end">
              <a href="<%=sizes[2].url%>">
                <img class="size-48" src="/images/svg/dog-house.svg" alt="">
                <p class="text-2xl text-center mt-6">
                  <%= sizes[2].name %>
                </p>
              </a>
            </li>
          </ul>
        </li>
        <li class="flex flex-col gap-8 mb-16">
          <p class="text-xl font-bold">We&apos;ve got <%= breeds.length %> breeds:</p>
          <ul class="flex justify-evenly">
            <% for(let i=0; i < 3; i+=1){ %>
              <li class="flex flex-col p-8">
                <a class="round-link" href=" <%=breeds[i].url %>">
                  <img class="round-img" src="<%= breeds[i].img_ur %>" alt="Picture of a <%= breeds[i].name %>">
                </a>
                <span class="self-center text-lg mt-6">
                  <%= breeds[i].name %>
                </span>
              </li>
              <% }; %>
          </ul>
          <a class="button border-black hover:bg-black" href="/inventory/breeds">See
            more!</a>
        </li>
        <li class="flex flex-col gap-8">
          <p class="text-xl font-bold">And of course, we&apos;ve got <%= dogs.length %> beautiful puppers:</p>
          <ul class="flex justify-evenly">
            <% for(let i=0; i < 3; i+=1){ %>
              <li class="flex flex-col p-8">
                <a class="round-link" href="<%= dogs[i].url %>">
                  <img class="round-img" src="<%= dogs[i].img_ur %>" alt="Picture of <%= dogs[i].name %>">
                </a>
                <span class="self-center text-lg mt-6">
                  <%= dogs[i].name %>
                </span>
              </li>
              <% }; %>
          </ul>
          <a class="button border-black hover:bg-black" href="/inventory/breeds">See more!</a>
        </li>
      </ul>
    </main>
    <%- include('general/addendum') %>
</body>

</html>