<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Catadog</title>
</head>

<body>
  <%- include('general/navBar') %>
    <main>
      <h1>Welcome to Catadog</h1>
      <p>Catadog is an inventory application for a local dog adoption center</p>
      <ul>
        <li>
          <p>We&apos;ve got <%= sizes.length %> sizes:</p>
          <ul>
            <% sizes.forEach((size)=> { %>
              <li>
                <a href="<%=size.url%>">
                  <img src="/images/svg/dog-house.svg" alt="">
                </a>
                <span>
                  <%= size.name %>
                </span>
              </li>
              <% }); %>
          </ul>
        </li>
        <li>
          <p>We&apos;ve got <%= breeds.length %> breeds:</p>
          <ul>
            <% for(let i=0; i < 3; i+=1){ %>
              <li>
                <a href="<%= breeds[i].url %>">
                  <img src="<%= breeds[i].img_url %>" alt="Picture of a <%= breeds[i].name %>">
                </a>
                <span>
                  <%= breeds[i].name %>
                </span>
              </li>
              <% }; %>
          </ul>
          <a href="/inventory/breeds">See more!</a>
        </li>
        <li>
          <p>And of course, we&apos;ve got <%= dogs.length %> beautiful puppers:</p>
          <ul>
            <% for(let i=0; i < 3; i+=1){ %>
              <li>
                <a href="<%= dogs[i].url %>">
                  <img src="<%= dogs[i].img_url %>" alt="Picture of <%= dogs[i].name %>">
                </a>
                <span>
                  <%= dogs[i].name %>
                </span>
              </li>
              <% }; %>
          </ul>
          <a href="/inventory/breeds">See more!</a>
        </li>
      </ul>
    </main>
    <%- include('general/addendum') %>
</body>

</html>