<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Sizes</title>
</head>

<body>
  <%- include('../general/navBar') %>
    <main>
      <h1 class="text-4xl font-bold">Sizes</h1>
      <ul class="flex justify-evenly">
        <li class="flex flex-col justify-end">
          <a href="<%=sizeList[0].url%>">
            <img class="size-16" src="/svgs/dog-house.svg" alt="">
            <p class="text-lg text-center mt-6">
              <%= sizeList[0].name %>
            </p>
          </a>
        </li>
        <li class="flex flex-col items-center justify-end">
          <a href="<%=sizeList[1].url%>">
            <img class="size-32" src="/svgs/dog-house.svg" alt="">
            <p class="text-xl text-center mt-6">
              <%= sizeList[1].name %>
            </p>
          </a>
        </li>
        <li class="flex flex-col items-center justify-end">
          <a href="<%=sizeList[2].url%>">
            <img class="size-48" src="/svgs/dog-house.svg" alt="">
            <p class="text-2xl text-center mt-6">
              <%= sizeList[2].name %>
            </p>
          </a>
        </li>
      </ul>
    </main>
    <%- include('../general/addendum') %>
</body>

</html>