<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/svgs/icon.svg" type="image/x-icon">
  <title>Delete Dog</title>
</head>

<body>
  <%- include('../general/navBar') %>
    <main class="flex flex-col gap-8">
      <h1 class="font-bold text-4xl">
        Delete <%= dog.name %>?
      </h1>
      <ul class="flex flex-col gap-4 text-lg">
        <li>
          Breed: <%- dog.breed.name %>
        </li>
        <li>
          Age: <%= dog.age ? `${dog.age} years` : 'N/A' %>
        </li>
        <li>
          Weight: <%= dog.weight ? `${dog.weight} kg` : 'N/A' %>
        </li>
        <li>
          Height: <%= dog.height ? `${dog.height} cm` : 'N/A' %>
        </li>
      </ul>
      <form method="post" class="flex flex-col gap-4">
        <input name="dogID" id="dogID" type="hidden" value=<%=dog._id%>>
        <label class="form-item">
          <span class="font-bold">Password <span class="text-sm text-gray-500">*required</span></span>
          <input required name="password" id="password" type="text" placeholder="Secret password" class="form-input">
        </label>
        <% if(errors){ %>
          <p class="font-bold text-lg text-red-700">
            <%= errors[0].msg %>
          </p>
          <% } %>
            <button type="submit" class="button border-red-700 text-red-700 hover:bg-red-700 mt-8">Delete</button>
      </form>
    </main>
    <%- include('../general/addendum') %>
</body>

</html>