<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= dog.name %>
  </title>
</head>

<body>
  <%- include('../general/navBar') %>
    <main>
      <h1>
        <%- dog.name %>
      </h1>
      <div class="details">
        <p>
          Breed: <%- dog.breed.name %>
        </p>
        <p>
          Age: <%= dog.age ? dog.age : 'N/A' %>
        </p>
        <p>
          Weight: <%= dog.weight ? dog.weight : 'N/A' %>
        </p>
        <p>
          Height: <%= dog.height ? dog.height : 'N/A' %>
        </p>
      </div>
      <a href=<%=`${dog.url}/update`%> >Update Dog</a>
      <a href=<%=`${dog.url}/delete`%> >Delete Dog</a>
    </main>
    <%- include('../general/addendum') %>
</body>

</html>