<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>
    <%= dog.name %>
  </title>
</head>

<body>
  <%- include('../general/navBar') %>
    <main class="flex flex-col gap-8">
      <img class="self-center size-96 rounded-full shadow-blurry" src="<%= dog.img_ur %>"
        alt="Picture of <%= dog.name %>">
      <h1 class="text-4xl font-bold">
        <%- dog.name %>
      </h1>
      <ul class="flex flex-col gap-4 text-lg">
        <li>
          <span class="font-bold">Breed: </span>
          <a href="<%=dog.breed.url%>" class="underline-offset-4 hover:underline">
            <%- dog.breed.name %>
          </a>
        </li>
        <li>
          <span class="font-bold">Age: </span>
          <span>
            <%= dog.age ? `${dog.age} years` : 'N/A' %>
          </span>
        </li>
        <li>
          <span class="font-bold">Weight: </span>
          <span>
            <%= dog.weight ? `${dog.weight} kg` : 'N/A' %>
          </span>
        </li>
        <li>
          <span class="font-bold">Height: </span>
          <span>
            <%= dog.height ? `${dog.height} cm` : 'N/A' %>
          </span>
        </li>
      </ul>
      <div id="buttons" class="flex justify-center gap-20">
        <a class="button border-blue-700 text-blue-700 hover:bg-blue-700" href=<%=`${dog.url}/update`%> >Update Dog</a>
        <a class="button border-red-700 text-red-700 hover:bg-red-700" href=<%=`${dog.url}/delete`%> >Delete Dog</a>
      </div>
    </main>
    <%- include('../general/addendum') %>
</body>

</html>