<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/svgs/icon.svg" type="image/x-icon">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <%- include('../general/navBar') %>
    <main>
      <h1 class="title">
        <%= title %>
      </h1>
      <form method="post" enctype="multipart/form-data" class="flex flex-col gap-4 mt-8">
        <label class="form-item">
          <span class="font-bold">Name <span class="text-sm text-gray-500">required</span></span>
          <input required name="name" id="name" type="text" placeholder="Name of dog" value="<%=dog ? dog.name : '' %>"
            class="form-input">
        </label>
        <label class="form-item">
          <span class="font-bold">Breed <span class="text-sm text-gray-500">required</span></span>
          <select name="breed" id="breed" required class="form-input">
            <option value="">--Select a breed--</option>
            <% breeds.forEach((breed)=> { %>
              <% if(dog) { %>
                <% if(dog.breed._id.toString()===breed._id.toString()) { %>
                  <option value="<%=breed._id %>" selected>
                    <%= breed.name %>
                  </option>
                  <% } else { %>
                    <option value="<%=breed._id %>">
                      <%= breed.name %>
                    </option>
                    <% } %>
                      <% } else { %>
                        <option value="<%=breed._id %>">
                          <%= breed.name %>
                        </option>
                        <% } %>
                          <% }) %>
          </select>
        </label>
        <label class="form-item">
          <span class="font-bold">Age (years): </span>
          <input name="age" id="age" type="number" placeholder="Age of dog" step="any" min="0"
            value="<%=dog ? dog.age : '' %>" class="form-input">
        </label>
        <label class="form-item">
          <span class="font-bold">Weight (kg): </span>
          <input name="weight" id="weight" type="number" placeholder="Weight of dog" step="any" min="0"
            value="<%=dog ? dog.weight : '' %>" class="form-input">
        </label>
        <label class="form-item">
          <span class="font-bold">Height (cm): </span>
          <input name="height" id="height" type="number" placeholder="Height of dog" step="any" min="0"
            value="<%=dog ? dog.height : '' %>" class="form-input">
        </label>
        <label class="form-item">
          <span class="font-bold">Image</span>
          <input name="img" id="img" type="file" accept="image/*"
            class=" border-dashed border-2 border-gray-500 py-4 px-2">
        </label>
        <label class="form-item">
          <span class="font-bold">Password <span class="text-sm text-gray-500">*required</span></span>
          <input required name="password" id="password" type="text" placeholder="Secret password" class="form-input">
        </label>
        <% if(errors){ %>
          <ul>
            <% errors.forEach((error)=> { %>
              <li class="font-bold text-lg text-red-700">
                <%= error.msg %>
              </li>
              <% }) %>
          </ul>
          <% } %>
            <button type="submit" class="button border-black hover:bg-black mt-8">Submit</button>
      </form>
    </main>
    <%- include('../general/addendum') %>
</body>

</html>