<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/svgs/icon.svg" type="image/x-icon">
  <title>Dogs</title>
</head>

<body>
  <%- include('../general/navBar') %>
    <main class="flex flex-col gap-8">
      <h1 class="title">Dogs</h1>
      <ul class="grid grid-cols-[repeat(auto-fit,calc(224px+4rem))] justify-center gap-4">
        <% dogList.forEach((dog)=> { %>
          <li class="flex flex-col p-8 sm:p-4">
            <a class="round-link" href="<%= dog.url %>">
              <img class="round-img" src="<%= dog.img_ur %>" alt="Picture of <%= dog.name %>">
            </a>
            <span class="round-img-text">
              <%= dog.name %>
            </span>
          </li>
          <% }); %>
      </ul>
      <a class="button border-green-700 text-green-700 hover:bg-green-700" href="/inventory/dog/create">Create Dog</a>
    </main>
    <%- include('../general/addendum') %>
</body>|

</html>